---
import MainLayout from "@/layouts/MainLayout.astro";
import type {PokemonListResponse} from "@/interfaces/pokemon-list-response.interface";
import PokemoCard from "@/components/PokemoCard.astro";
import Title from "@/layouts/components/Title.astro";
import { Counter } from "@/components/Counter";

const title = 'Pokemon Static | Home';
const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = await resp.json() as PokemonListResponse;
---
<MainLayout title={title}>
	<Title>Listado</Title>
	<section
		aria-label="Listado de pokemon"
		class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 py-2 w-full"
	>
		{data.results.map(pokemon => (<PokemoCard url={pokemon.url} name={pokemon.name}/>))}
	</section>
	<Counter transition:persist="counter" transition:persist-props initialValue={15} client:visible/>
</MainLayout>
