---
import {ClientRouter} from 'astro:transitions'
import '../styles/global.css'
import {SITE_INFO} from "@/constants/site-info.constant.ts";
import Navbar from "@/layouts/components/Navbar/Navbar.astro";
interface Props {
    title: string;
    description?: string;
    image?: string;
}
const {
    title = SITE_INFO.title,
    description = SITE_INFO.description,
    image
} = Astro.props
---

<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <!--Seo-->
    <meta name="description" content=""/>
    <title>{title}</title>
    <ClientRouter/>
</head>
<body class=" m-auto max-w-5xl">
<Navbar/>
<slot/>
</body>
</html>
